################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HomeCollection/v15
/HomeCollection/bin/Debug
/HomeCollection/obj/Debug
